.idea
.env
.venv
.venv/*
.dmasenv
dmas/**.log
./.idea/DMASpy.iml
./.idea/misc.xml
.idea/DMASpy.iml
.idea/misc.xml
*.iml
*.xml
scenarios/*/results
scenarios/*/orbit_data
dmas/__pycache__/**.pyc
instrupy
instrupy/*
orbitpy
orbitpy/*
.vscode/*
.DS_Store
*.pyc
scenarios/sim_test/imagery/*
scenarios/sim_test/imagery
cesium_app/
czml_templates/
dmaspy.czml
plot2D.gif
utils/images/*
!utils/images/.gitkeep
utils/usgs_data/*
!utils/usgs_data/.gitkeep