.idea
.env
.venv
.venv/*
.dmasenv
dmas/**.log
./.idea/DMASpy.iml
./.idea/misc.xml
.idea/DMASpy.iml
.idea/misc.xml
*.iml
*.xml
scenarios/*/results
scenarios/*/orbit_data
dmas/__pycache__/**.pyc
instrupy
instrupy/*
orbitpy
orbitpy/*
.vscode/*
.DS_Store
*.pyc