cycler==0.11.0
exec-wrappers==1.1.4
fonttools==4.29.1
JPype1==1.3.0
kiwisolver==1.3.2
matplotlib==3.5.1
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1643958859432/work
orekit==11.1
orekit-stubs==0.1
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
PyNSim==0.1.5
pyparsing==3.0.7
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
