certifi==2022.5.18.1
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1651017784092/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1648854667437/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1651610267679/work
munkres==1.1.4
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1653325592436/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.2
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1652815109935/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
simpy==4.0.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1648827310178/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1649111966296/work
