alabaster==0.7.12
appdirs==1.4.4
astropy==5.1
asttokens==2.1.0
attrs==22.1.0
Automat==20.2.0
Babel==2.10.3
backcall==0.2.0
backports.zoneinfo==0.2.1
basemap==1.3.6
basemap-data==1.3.2
certifi==2022.12.7
cffi==1.15.1
cftime==1.6.2
charset-normalizer==2.1.1
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
constantly==15.1.0
contourpy==1.0.5
cryptography==38.0.1
cssselect==1.1.0
cycler==0.11.0
dataretrieval==1.0.1
dateparser==1.0.0
decorator==5.1.1
deepdiff==5.8.1
docutils==0.16
executing==1.2.0
Fiona==1.8.21
fonttools==4.38.0
greenlet==1.1.3
hyperlink==21.0.0
idna==3.4
imageio==2.23.0
imagesize==1.4.1
importlib-metadata==4.12.0
importlib-resources==5.9.0
incremental==21.3.0
ipython==8.6.0
isodate==0.6.1
itemadapter==0.7.0
itemloaders==1.0.6
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
kiwisolver==1.4.4
landsatxplore==0.13.0
lowtran==2.4.1
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
MetPy==1.3.1
munch==2.5.0
munkres==1.1.4
neo4j==4.2.1
netCDF4==1.6.1
numpy==1.24.1
ordered-set==4.1.0
packaging==22.0
pandas==1.5.0
parsel==1.6.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
Pint==0.19.2
pip==22.3.1
pooch==1.6.0
prompt-toolkit==3.0.32
propcov==0.0.1
Protego==0.2.1
psycopg2-binary==2.8.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.6
pyerfa==2.0.0.1
Pygments==2.13.0
pyOpenSSL==22.1.0
pyparsing==3.0.9
pyproj==3.4.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyshp==2.3.1
python-dateutil==2.8.2
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq==24.0.1
queuelib==1.6.2
rdflib==5.0.0
regex==2022.9.13
requests==2.28.1
scipy==1.9.1
Scrapy==2.4.1
service-identity==21.1.0
setuptools==44.1.1
Shapely==1.8.4
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.2.2
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.2
stack-data==0.6.0
torch==1.10.1
torchaudio==0.10.1
torchvision==0.11.2
tqdm==4.64.1
traitlets==5.4.0
Twisted==22.8.0
typing==3.7.4.3
typing_extensions==4.0.1
tzdata==2022.4
tzlocal==4.2
unicodedata2==15.0.0
urllib3==1.26.12
w3lib==2.0.1
wcwidth==0.2.5
wheel==0.38.4
xarray==2022.6.0
zipp==3.8.1
zmq==0.0.0
zope.interface==5.4.0
